* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #06283D;
    --accent-color: #00d2ff;
    --text-white: #ffffff;
}

body {
    background-color: var(--primary-color);
    background: linear-gradient(135deg, #06283d 0%, #136a8a 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
}